/*  your css code here. If applicable */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb(226,225,224);
}

.main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.col-1 {
	width: 150px;
	height: 250px;
	background-color: white;
	text-align: center;
	margin-top: 30px;
}

.col-1>h2 {
	margin-top: 30px;
}

.col-1>p {
	margin-top: 15px;
}